<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Nutcracker 2017"

>
  <image imageURL="images/nut-party1.jpg"
	thumbURL="thumbs/nut-party1.jpg"
	linkURL="images/nut-party1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-party1.jpg">
    <title><![CDATA[Party girls]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-dolls.jpg"
	thumbURL="thumbs/nut-dolls.jpg"
	linkURL="images/nut-dolls.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-dolls.jpg">
    <title><![CDATA[Kissing doll]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-party3.jpg"
	thumbURL="thumbs/nut-party3.jpg"
	linkURL="images/nut-party3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-party3.jpg">
    <title><![CDATA[Clara and Fritz]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-dross.jpg"
	thumbURL="thumbs/nut-dross.jpg"
	linkURL="images/nut-dross.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-dross.jpg">
    <title><![CDATA[Drosselmeyer]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-party2.jpg"
	thumbURL="thumbs/nut-party2.jpg"
	linkURL="images/nut-party2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-party2.jpg">
    <title><![CDATA[Party guests]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-battle2.jpg"
	thumbURL="thumbs/nut-battle2.jpg"
	linkURL="images/nut-battle2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-battle2.jpg">
    <title><![CDATA[Battle between Rat Queen and Nutcracker Prince]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-battle.jpg"
	thumbURL="thumbs/nut-battle.jpg"
	linkURL="images/nut-battle.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-battle.jpg">
    <title><![CDATA[Mourning the death of the Rat Queen]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-snowpas1.jpg"
	thumbURL="thumbs/nut-snowpas1.jpg"
	linkURL="images/nut-snowpas1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-snowpas1.jpg">
    <title><![CDATA[Snow Pas de Deux]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-snowpas2.jpg"
	thumbURL="thumbs/nut-snowpas2.jpg"
	linkURL="images/nut-snowpas2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-snowpas2.jpg">
    <title><![CDATA[Snow Pas de Deux]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-snow2.jpg"
	thumbURL="thumbs/nut-snow2.jpg"
	linkURL="images/nut-snow2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-snow2.jpg">
    <title><![CDATA[Snow]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-snow1.jpg"
	thumbURL="thumbs/nut-snow1.jpg"
	linkURL="images/nut-snow1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-snow1.jpg">
    <title><![CDATA[Snow]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-snow3.jpg"
	thumbURL="thumbs/nut-snow3.jpg"
	linkURL="images/nut-snow3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-snow3.jpg">
    <title><![CDATA[Snow]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/30741360_2020018634675618_1019348167730135040_n.jpg"
	thumbURL="thumbs/30741360_2020018634675618_1019348167730135040_n.jpg"
	linkURL="images/30741360_2020018634675618_1019348167730135040_n.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/30741360_2020018634675618_1019348167730135040_n.jpg">
    <title><![CDATA[Nutcracker Prince and Clara]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-act2opening1.jpg"
	thumbURL="thumbs/nut-act2opening1.jpg"
	linkURL="images/nut-act2opening1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-act2opening1.jpg">
    <title><![CDATA[Act 2 opening]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-spanish2.jpg"
	thumbURL="thumbs/nut-spanish2.jpg"
	linkURL="images/nut-spanish2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-spanish2.jpg">
    <title><![CDATA[Spanish]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-spanish.jpg"
	thumbURL="thumbs/nut-spanish.jpg"
	linkURL="images/nut-spanish.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-spanish.jpg">
    <title><![CDATA[Spanish]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-arabian3.jpg"
	thumbURL="thumbs/nut-arabian3.jpg"
	linkURL="images/nut-arabian3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-arabian3.jpg">
    <title><![CDATA[Arabian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-arabian1.jpg"
	thumbURL="thumbs/nut-arabian1.jpg"
	linkURL="images/nut-arabian1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-arabian1.jpg">
    <title><![CDATA[Arabian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-arabian2.jpg"
	thumbURL="thumbs/nut-arabian2.jpg"
	linkURL="images/nut-arabian2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-arabian2.jpg">
    <title><![CDATA[Arabian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-russian1.jpg"
	thumbURL="thumbs/nut-russian1.jpg"
	linkURL="images/nut-russian1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-russian1.jpg">
    <title><![CDATA[Russian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-russian2.jpg"
	thumbURL="thumbs/nut-russian2.jpg"
	linkURL="images/nut-russian2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-russian2.jpg">
    <title><![CDATA[Russian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-chinese1.jpg"
	thumbURL="thumbs/nut-chinese1.jpg"
	linkURL="images/nut-chinese1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-chinese1.jpg">
    <title><![CDATA[Chinese]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-chinese2.jpg"
	thumbURL="thumbs/nut-chinese2.jpg"
	linkURL="images/nut-chinese2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-chinese2.jpg">
    <title><![CDATA[Chinese]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-cavalier.jpg"
	thumbURL="thumbs/nut-cavalier.jpg"
	linkURL="images/nut-cavalier.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-cavalier.jpg">
    <title><![CDATA[Nutcracker Prince]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-cavalier2.jpg"
	thumbURL="thumbs/nut-cavalier2.jpg"
	linkURL="images/nut-cavalier2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-cavalier2.jpg">
    <title><![CDATA[Nutcracker Prince]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-sugar.jpg"
	thumbURL="thumbs/nut-sugar.jpg"
	linkURL="images/nut-sugar.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-sugar.jpg">
    <title><![CDATA[Sugar Plum Fairy]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/30743000_2020020168008798_3599260143977496576_n.jpg"
	thumbURL="thumbs/30743000_2020020168008798_3599260143977496576_n.jpg"
	linkURL="images/30743000_2020020168008798_3599260143977496576_n.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/30743000_2020020168008798_3599260143977496576_n.jpg">
    <title><![CDATA[Nutcracker Prince and Clara]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-pas3.jpg"
	thumbURL="thumbs/nut-pas3.jpg"
	linkURL="images/nut-pas3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-pas3.jpg">
    <title><![CDATA[Nutcracker Prince and Clara]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/30724260_2020018781342270_2846418175887671296_n.jpg"
	thumbURL="thumbs/30724260_2020018781342270_2846418175887671296_n.jpg"
	linkURL="images/30724260_2020018781342270_2846418175887671296_n.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/30724260_2020018781342270_2846418175887671296_n.jpg">
    <title><![CDATA[Nutcracker Prince and Clara]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-finale3.jpg"
	thumbURL="thumbs/nut-finale3.jpg"
	linkURL="images/nut-finale3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-finale3.jpg">
    <title><![CDATA[Finale]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-finale1.jpg"
	thumbURL="thumbs/nut-finale1.jpg"
	linkURL="images/nut-finale1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-finale1.jpg">
    <title><![CDATA[Finale]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-finale2.jpg"
	thumbURL="thumbs/nut-finale2.jpg"
	linkURL="images/nut-finale2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-finale2.jpg">
    <title><![CDATA[Finale]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nut-group.jpg"
	thumbURL="thumbs/nut-group.jpg"
	linkURL="images/nut-group.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/cbc photos 2017-18/nut-group.jpg">
    <title><![CDATA[CBC and guest dancers]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>