<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/final2.jpg"
	thumbURL="thumbs/final2.jpg"
	linkURL="images/final2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/final2.jpg"

>
    <title><![CDATA[Finale]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/russian1.jpg"
	thumbURL="thumbs/russian1.jpg"
	linkURL="images/russian1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/russian1.jpg">
    <title><![CDATA[Jackson, Andrew, and Bernardo in Russian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/snowpas3.jpg"
	thumbURL="thumbs/snowpas3.jpg"
	linkURL="images/snowpas3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/snowpas3.jpg">
    <title><![CDATA[Jess F. and Andrew in Snow pas de Deux]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/arabian2.jpg"
	thumbURL="thumbs/arabian2.jpg"
	linkURL="images/arabian2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/arabian2.jpg">
    <title><![CDATA[Sabrina and Bernardo in Arabian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/pantomime4.jpg"
	thumbURL="thumbs/pantomime4.jpg"
	linkURL="images/pantomime4.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/pantomime4.jpg">
    <title><![CDATA[Dylan and Madelaine in Pantomime]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/snowpas2.jpg"
	thumbURL="thumbs/snowpas2.jpg"
	linkURL="images/snowpas2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/snowpas2.jpg">
    <title><![CDATA[Jess F. and Andrew in Snow Pas de Deux]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/spanish1.jpg"
	thumbURL="thumbs/spanish1.jpg"
	linkURL="images/spanish1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/spanish1.jpg">
    <title><![CDATA[Dru, Nathan, Jess, Madelaine, Dylan, and Sammy in Spanish]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/arabian1.jpg"
	thumbURL="thumbs/arabian1.jpg"
	linkURL="images/arabian1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/arabian1.jpg">
    <title><![CDATA[Sabrina in Arabian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/russian3 copy.jpg"
	thumbURL="thumbs/russian3 copy.jpg"
	linkURL="images/russian4.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/russian3 copy.jpg">
    <title><![CDATA[Jackson in Russian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/arabian4 copy.jpg"
	thumbURL="thumbs/arabian4 copy.jpg"
	linkURL="images/arabian5.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/arabian4 copy.jpg">
    <title><![CDATA[Dru and Bernardo in Arabian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/chinese1.jpg"
	thumbURL="thumbs/chinese1.jpg"
	linkURL="images/chinese1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/chinese1.jpg">
    <title><![CDATA[Madelaine, Jackson, Bernardo, and Michelle Lam in Chinese]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/chinese2.jpg"
	thumbURL="thumbs/chinese2.jpg"
	linkURL="images/chinese2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/chinese2.jpg">
    <title><![CDATA[Michelle Lam in Chinese]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/arabian4.jpg"
	thumbURL="thumbs/arabian4.jpg"
	linkURL="images/arabian4.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/arabian4.jpg">
    <title><![CDATA[Jessica T. and Bernardo in Arabian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/finale1.jpg"
	thumbURL="thumbs/finale1.jpg"
	linkURL="images/finale1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/finale1.jpg">
    <title><![CDATA[Finale]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mirlitons1.jpg"
	thumbURL="thumbs/mirlitons1.jpg"
	linkURL="images/mirlitons1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/mirlitons1.jpg">
    <title><![CDATA[Rebecca and Alli in Mirlitons]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mirlitons3.jpg"
	thumbURL="thumbs/mirlitons3.jpg"
	linkURL="images/mirlitons3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/mirlitons3.jpg">
    <title><![CDATA[Alli in Mirlitons]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/pantomime1.jpg"
	thumbURL="thumbs/pantomime1.jpg"
	linkURL="images/pantomime1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/pantomime1.jpg">
    <title><![CDATA[Dylan, Claire, and Bernardo in Pantomime]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/pantomime2.jpg"
	thumbURL="thumbs/pantomime2.jpg"
	linkURL="images/pantomime2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/pantomime2.jpg">
    <title><![CDATA[Claire in Pantomime]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/russian2.jpg"
	thumbURL="thumbs/russian2.jpg"
	linkURL="images/russian2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/russian2.jpg">
    <title><![CDATA[Bernardo and Jackson in Russian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/russian3.jpg"
	thumbURL="thumbs/russian3.jpg"
	linkURL="images/russian3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/russian3.jpg">
    <title><![CDATA[Russian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/snow1.jpg"
	thumbURL="thumbs/snow1.jpg"
	linkURL="images/snow1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/snow1.jpg">
    <title><![CDATA[Sabrina in Snow]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/snowpas1.jpg"
	thumbURL="thumbs/snowpas1.jpg"
	linkURL="images/snowpas1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/snowpas1.jpg">
    <title><![CDATA[Jess F. and Andrew in Snow Pas de Deux]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/snow2.jpg"
	thumbURL="thumbs/snow2.jpg"
	linkURL="images/snow2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/snow2.jpg">
    <title><![CDATA[Jessica T. in Snow]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/spanish2.jpg"
	thumbURL="thumbs/spanish2.jpg"
	linkURL="images/spanish2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/spanish2.jpg">
    <title><![CDATA[Sammy and Nathan in Spanish]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/groupphoto.jpg"
	thumbURL="thumbs/groupphoto.jpg"
	linkURL="images/groupphoto.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Desktop/cbc nutcracker 2016/groupphoto.jpg">
    <title><![CDATA[Full Cast]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>