<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Rehearsals and Social Events 2015-2016"

>
  <image imageURL="images/Brunch1.jpg"
	thumbURL="thumbs/Brunch1.jpg"
	linkURL="images/Brunch1.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/Brunch1.jpg">
    <title><![CDATA[Special Brunch Fall 2015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Brunch2.jpg"
	thumbURL="thumbs/Brunch2.jpg"
	linkURL="images/Brunch2.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/Brunch2.jpg">
    <title><![CDATA[Special Brunch Fall 2015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Brunch3.jpg"
	thumbURL="thumbs/Brunch3.jpg"
	linkURL="images/Brunch3.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/Brunch3.jpg">
    <title><![CDATA[Special Brunch Fall 2015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Brunch4.jpg"
	thumbURL="thumbs/Brunch4.jpg"
	linkURL="images/Brunch4.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/Brunch4.jpg">
    <title><![CDATA[Andrew making waffles]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Brunch5.jpg"
	thumbURL="thumbs/Brunch5.jpg"
	linkURL="images/Brunch5.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/Brunch5.jpg">
    <title><![CDATA[Special Brunch 2015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CBCSeniors.jpg"
	thumbURL="thumbs/CBCSeniors.jpg"
	linkURL="images/CBCSeniors.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/CBCSeniors.jpg">
    <title><![CDATA[CBC Seniors]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Mirlitons.jpg"
	thumbURL="thumbs/Mirlitons.jpg"
	linkURL="images/Mirlitons.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/Mirlitons.jpg">
    <title><![CDATA[Performing Mirlitons at Pacific Ballet Academy]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PartneringWorkshop.jpg"
	thumbURL="thumbs/PartneringWorkshop.jpg"
	linkURL="images/PartneringWorkshop.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/PartneringWorkshop.jpg">
    <title><![CDATA[Partnering Workshop Spring 2016]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Rehearsal1.jpg"
	thumbURL="thumbs/Rehearsal1.jpg"
	linkURL="images/Rehearsal1.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/Rehearsal1.jpg">
    <title><![CDATA[Andrew and Madelaine in Rehearsal for Snow Pas de deux]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Rehearsal2.jpg"
	thumbURL="thumbs/Rehearsal2.jpg"
	linkURL="images/Rehearsal2.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/Rehearsal2.jpg">
    <title><![CDATA[Snow Rehearsal Nutcracker 2015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Rehearsal3.jpg"
	thumbURL="thumbs/Rehearsal3.jpg"
	linkURL="images/Rehearsal3.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/Rehearsal3.jpg">
    <title><![CDATA[Russian Rehearsal Nutcracker 2015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Rehearsal4.jpg"
	thumbURL="thumbs/Rehearsal4.jpg"
	linkURL="images/Rehearsal4.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/Rehearsal4.jpg">
    <title><![CDATA[Russian Rehearsal Nutcracker 2015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Rehearsal5.jpg"
	thumbURL="thumbs/Rehearsal5.jpg"
	linkURL="images/Rehearsal5.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/Rehearsal5.jpg">
    <title><![CDATA[Russian Rehearsal Nutcracker 2015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Rehearsal6.jpg"
	thumbURL="thumbs/Rehearsal6.jpg"
	linkURL="images/Rehearsal6.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/Rehearsal6.jpg">
    <title><![CDATA[Chinese Rehearsal Nutcracker 2015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Rehearsal7.jpg"
	thumbURL="thumbs/Rehearsal7.jpg"
	linkURL="images/Rehearsal7.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/Rehearsal7.jpg">
    <title><![CDATA[Mirlitons Rehearsal Nutcracker 2015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Retreat1.jpg"
	thumbURL="thumbs/Retreat1.jpg"
	linkURL="images/Retreat1.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/Retreat1.jpg">
    <title><![CDATA[Half Moon Bay Retreat Fall 2015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Retreat2.jpg"
	thumbURL="thumbs/Retreat2.jpg"
	linkURL="images/Retreat2.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/Retreat2.jpg">
    <title><![CDATA[Half Moon Bay Retreat Fall 2015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Retreat3.jpg"
	thumbURL="thumbs/Retreat3.jpg"
	linkURL="images/Retreat3.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/Retreat3.jpg">
    <title><![CDATA[Half Moon Bay Retreat Fall 2015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Retreat4.jpg"
	thumbURL="thumbs/Retreat4.jpg"
	linkURL="images/Retreat4.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/Retreat4.jpg">
    <title><![CDATA[Half Moon Bay Retreat Fall 2015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SwanLake.jpg"
	thumbURL="thumbs/SwanLake.jpg"
	linkURL="images/SwanLake.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/SwanLake.jpg">
    <title><![CDATA[CBC at San Francisco Ballet's "Swan Lake"]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/VBall.jpg"
	thumbURL="thumbs/VBall.jpg"
	linkURL="images/VBall.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/VBall.jpg">
    <title><![CDATA[Performing Pacquita Excerpts at Viennese Ballet]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/VBall2.jpg"
	thumbURL="thumbs/VBall2.jpg"
	linkURL="images/VBall2.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/social15gallery/images/VBall2.jpg">
    <title><![CDATA[Performing Pacquita Excerpts at Viennese Ballet]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/swollerina.jpg"
	thumbURL="thumbs/swollerina.jpg"
	linkURL="images/swollerina.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/swollerina.jpg">
    <title><![CDATA[Swollerina Workshop with Bagels]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CBCBBQ.jpg"
	thumbURL="thumbs/CBCBBQ.jpg"
	linkURL="images/CBCBBQ.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/CBCBBQ.JPG">
    <title><![CDATA[End of Year BBQ and Smores]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CBCBBQ2.jpg"
	thumbURL="thumbs/CBCBBQ2.jpg"
	linkURL="images/CBCBBQ2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/CBCBBQ2.JPG">
    <title><![CDATA[End of Year Barbeque and Smores]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Partnering2.jpg"
	thumbURL="thumbs/Partnering2.jpg"
	linkURL="images/Partnering2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Partnering2.JPG">
    <title><![CDATA[CBC Partnering]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>