<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Cardinal Dance Fusion 2016"

>
  <image imageURL="images/Pacquita1.jpg"
	thumbURL="thumbs/Pacquita1.jpg"
	linkURL="images/Pacquita1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Pacquita1.jpg">
    <title><![CDATA[Michelle and Jess in Pacquita]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Pacquita3.jpg"
	thumbURL="thumbs/Pacquita3.jpg"
	linkURL="images/Pacquita3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Pacquita3.jpg">
    <title><![CDATA[Grace in Pacquita]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Pacquita4.jpg"
	thumbURL="thumbs/Pacquita4.jpg"
	linkURL="images/Pacquita4.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Pacquita4.jpg">
    <title><![CDATA[Jackson in Pacquita]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Pacquita5.jpg"
	thumbURL="thumbs/Pacquita5.jpg"
	linkURL="images/Pacquita5.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Pacquita5.jpg">
    <title><![CDATA[Jess and Michelle in Pacquita]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Pacquita6.jpg"
	thumbURL="thumbs/Pacquita6.jpg"
	linkURL="images/Pacquita6.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Pacquita6.jpg">
    <title><![CDATA[Pacquita]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Jess1.jpg"
	thumbURL="thumbs/Jess1.jpg"
	linkURL="images/Jess1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Jess1.jpg">
    <title><![CDATA[Evanescence]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Jess2.jpg"
	thumbURL="thumbs/Jess2.jpg"
	linkURL="images/Jess2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Jess2.jpg">
    <title><![CDATA[Evanescence]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Jess3.jpg"
	thumbURL="thumbs/Jess3.jpg"
	linkURL="images/Jess3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Jess3.jpg">
    <title><![CDATA[Evanescence]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Jess4.jpg"
	thumbURL="thumbs/Jess4.jpg"
	linkURL="images/Jess4.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Jess4.jpg">
    <title><![CDATA[Jess in Evanescence]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Jess5.jpg"
	thumbURL="thumbs/Jess5.jpg"
	linkURL="images/Jess5.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Jess5.jpg">
    <title><![CDATA[Janet and Michelle in Evanescence]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Guest1.jpg"
	thumbURL="thumbs/Guest1.jpg"
	linkURL="images/Guest1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Guest1.jpg">
    <title><![CDATA[Deviation]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Guest2.jpg"
	thumbURL="thumbs/Guest2.jpg"
	linkURL="images/Guest2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Guest2.jpg">
    <title><![CDATA[Deviation]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Guest3.jpg"
	thumbURL="thumbs/Guest3.jpg"
	linkURL="images/Guest3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Guest3.jpg">
    <title><![CDATA[Deviation]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Guest4.jpg"
	thumbURL="thumbs/Guest4.jpg"
	linkURL="images/Guest4.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Guest4.jpg">
    <title><![CDATA[Deviation]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Guest5.jpg"
	thumbURL="thumbs/Guest5.jpg"
	linkURL="images/Guest5.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Guest5.jpg">
    <title><![CDATA[Cora in Deviation]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Guest6.jpg"
	thumbURL="thumbs/Guest6.jpg"
	linkURL="images/Guest6.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Guest6.jpg">
    <title><![CDATA[Jess in Deviation]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Guest7.jpg"
	thumbURL="thumbs/Guest7.jpg"
	linkURL="images/Guest7.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Guest7.jpg">
    <title><![CDATA[Jess in Deviation]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Guest8.jpg"
	thumbURL="thumbs/Guest8.jpg"
	linkURL="images/Guest8.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Guest8.jpg">
    <title><![CDATA[Jess in Deviation]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Liana1.jpg"
	thumbURL="thumbs/Liana1.jpg"
	linkURL="images/Liana1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Liana1.jpg">
    <title><![CDATA[Thunder]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Liana2.jpg"
	thumbURL="thumbs/Liana2.jpg"
	linkURL="images/Liana2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Liana2.jpg">
    <title><![CDATA[Grace in Thunder]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Liana3.jpg"
	thumbURL="thumbs/Liana3.jpg"
	linkURL="images/Liana3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Liana3.jpg">
    <title><![CDATA[Grace in Thunder]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Liana4.jpg"
	thumbURL="thumbs/Liana4.jpg"
	linkURL="images/Liana4.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Liana4.jpg">
    <title><![CDATA[Liana and Bernardo in Thunder]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Liana5.jpg"
	thumbURL="thumbs/Liana5.jpg"
	linkURL="images/Liana5.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Liana5.jpg">
    <title><![CDATA[Nathan and Stephanie in Thunder]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Liana6.jpg"
	thumbURL="thumbs/Liana6.jpg"
	linkURL="images/Liana6.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Liana6.jpg">
    <title><![CDATA[Thunder]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Liana7.jpg"
	thumbURL="thumbs/Liana7.jpg"
	linkURL="images/Liana7.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Liana7.jpg">
    <title><![CDATA[Janet in Thunder]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Liana8.jpg"
	thumbURL="thumbs/Liana8.jpg"
	linkURL="images/Liana8.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Liana8.jpg">
    <title><![CDATA[Jess in Thunder]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Liana9.jpg"
	thumbURL="thumbs/Liana9.jpg"
	linkURL="images/Liana9.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Liana9.jpg">
    <title><![CDATA[Grace in Thunder]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Jackson1.jpg"
	thumbURL="thumbs/Jackson1.jpg"
	linkURL="images/Jackson1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Jackson1.jpg">
    <title><![CDATA[Amy and Jackson in Charlie Brown]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Jackson2.jpg"
	thumbURL="thumbs/Jackson2.jpg"
	linkURL="images/Jackson2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Jackson2.jpg">
    <title><![CDATA[Amy and Jackson in Charlie Brown]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Jackson3.jpg"
	thumbURL="thumbs/Jackson3.jpg"
	linkURL="images/Jackson3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Jackson3.jpg">
    <title><![CDATA[Cora and Andrew in Charlie Brown]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Jackson4.jpg"
	thumbURL="thumbs/Jackson4.jpg"
	linkURL="images/Jackson4.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Jackson4.jpg">
    <title><![CDATA[Nathan and Bernardo in Charlie Brown]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Group1.jpg"
	thumbURL="thumbs/Group1.jpg"
	linkURL="images/Group1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Group1.jpg">
    <title><![CDATA[Daft Punk]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Group2.jpg"
	thumbURL="thumbs/Group2.jpg"
	linkURL="images/Group2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Group2.jpg">
    <title><![CDATA[Daft Punk]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Group3.jpg"
	thumbURL="thumbs/Group3.jpg"
	linkURL="images/Group3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Group3.jpg">
    <title><![CDATA[Daft Punk]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Group4.jpg"
	thumbURL="thumbs/Group4.jpg"
	linkURL="images/Group4.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Group4.jpg">
    <title><![CDATA[Dru in Daft Punk]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Group5.jpg"
	thumbURL="thumbs/Group5.jpg"
	linkURL="images/Group5.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Group5.jpg">
    <title><![CDATA[Grace and Andrew in Daft Punk]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Group6.jpg"
	thumbURL="thumbs/Group6.jpg"
	linkURL="images/Group6.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Group6.jpg">
    <title><![CDATA[Janet and Jackson in Daft Punk]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Group7.jpg"
	thumbURL="thumbs/Group7.jpg"
	linkURL="images/Group7.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Group7.jpg">
    <title><![CDATA[Daft Punk]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Group8.jpg"
	thumbURL="thumbs/Group8.jpg"
	linkURL="images/Group8.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Group8.jpg">
    <title><![CDATA[Daft Punk]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Group9.jpg"
	thumbURL="thumbs/Group9.jpg"
	linkURL="images/Group9.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Group9.jpg">
    <title><![CDATA[Daft Punk]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Group10.jpg"
	thumbURL="thumbs/Group10.jpg"
	linkURL="images/Group10.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Group10.jpg">
    <title><![CDATA[Nathan in Daft Punk]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Group12.jpg"
	thumbURL="thumbs/Group12.jpg"
	linkURL="images/Group12.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/Group12.jpg">
    <title><![CDATA[Daft Punk]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/FinalGroup.jpg"
	thumbURL="thumbs/FinalGroup.jpg"
	linkURL="images/FinalGroup.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/FinalGroup.jpg">
    <title><![CDATA[CBC Family]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/GroupFinal3.jpg"
	thumbURL="thumbs/GroupFinal3.jpg"
	linkURL="images/GroupFinal3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/emmadauterman/Downloads/GroupFinal3.jpg">
    <title><![CDATA[CBC Family]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>