<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Nutcracker 2018"

>
  <image imageURL="images/DSC_2792.jpg"
	thumbURL="thumbs/DSC_2792.jpg"
	linkURL="images/DSC_2792.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_2792.jpg">
    <title><![CDATA[Clara]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_2830.jpg"
	thumbURL="thumbs/DSC_2830.jpg"
	linkURL="images/DSC_2830.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_2830.jpg">
    <title><![CDATA[Fritz]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_3004.jpg"
	thumbURL="thumbs/DSC_3004.jpg"
	linkURL="images/DSC_3004.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_3004.jpg">
    <title><![CDATA[Fritz and Drosselmeyer]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_3577.jpg"
	thumbURL="thumbs/DSC_3577.jpg"
	linkURL="images/DSC_3577.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_3577.jpg">
    <title><![CDATA[Clara and her friends]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_3431.jpg"
	thumbURL="thumbs/DSC_3431.jpg"
	linkURL="images/DSC_3431.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_3431.jpg">
    <title><![CDATA[Clara and Fritz]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_3189.jpg"
	thumbURL="thumbs/DSC_3189.jpg"
	linkURL="images/DSC_3189.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_3189.jpg">
    <title><![CDATA[Columbine doll]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8812.jpg"
	thumbURL="thumbs/DSC_8812.jpg"
	linkURL="images/DSC_8812.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_8812.jpg">
    <title><![CDATA[Ballerina doll]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8907.jpg"
	thumbURL="thumbs/DSC_8907.jpg"
	linkURL="images/DSC_8907.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_8907.jpg">
    <title><![CDATA[Soldier doll]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_5038.jpg"
	thumbURL="thumbs/DSC_5038.jpg"
	linkURL="images/DSC_5038.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/nut18gallery/images/DSC_5038.jpg">
    <title><![CDATA[Party parents]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_5214.jpg"
	thumbURL="thumbs/DSC_5214.jpg"
	linkURL="images/DSC_5214.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_5214.jpg">
    <title><![CDATA[Rat king is slain]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_4206.jpg"
	thumbURL="thumbs/DSC_4206.jpg"
	linkURL="images/DSC_4206.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_4206.jpg">
    <title><![CDATA[Clara and Nutcracker Prince]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_5279.jpg"
	thumbURL="thumbs/DSC_5279.jpg"
	linkURL="images/DSC_5279.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_5279.jpg">
    <title><![CDATA[Snow Queen]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_4189.jpg"
	thumbURL="thumbs/DSC_4189.jpg"
	linkURL="images/DSC_4189.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_4189.jpg">
    <title><![CDATA[Snowflakes]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_4606.jpg"
	thumbURL="thumbs/DSC_4606.jpg"
	linkURL="images/DSC_4606.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_4606.jpg">
    <title><![CDATA[Snowflakes]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_4228.jpg"
	thumbURL="thumbs/DSC_4228.jpg"
	linkURL="images/DSC_4228.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_4228.jpg">
    <title><![CDATA[Snowflakes and Snow Queen]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_4241.jpg"
	thumbURL="thumbs/DSC_4241.jpg"
	linkURL="images/DSC_4241.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_4241.jpg">
    <title><![CDATA[Land of Sweets]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8063.jpg"
	thumbURL="thumbs/DSC_8063.jpg"
	linkURL="images/DSC_8063.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_8063.jpg">
    <title><![CDATA[Spanish]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_5678.jpg"
	thumbURL="thumbs/DSC_5678.jpg"
	linkURL="images/DSC_5678.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_5678.jpg">
    <title><![CDATA[Mirlitons]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_3746.jpg"
	thumbURL="thumbs/DSC_3746.jpg"
	linkURL="images/DSC_3746.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_3746.jpg">
    <title><![CDATA[Mirlitons]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_5744.jpg"
	thumbURL="thumbs/DSC_5744.jpg"
	linkURL="images/DSC_5744.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_5744.jpg">
    <title><![CDATA[Mirlitons]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_1480.jpg"
	thumbURL="thumbs/DSC_1480.jpg"
	linkURL="images/DSC_1480.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_1480.jpg">
    <title><![CDATA[Chinese]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_5743.jpg"
	thumbURL="thumbs/DSC_5743.jpg"
	linkURL="images/DSC_5743.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_5743.jpg">
    <title><![CDATA[Chinese]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_1533.jpg"
	thumbURL="thumbs/DSC_1533.jpg"
	linkURL="images/DSC_1533.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_1533.jpg">
    <title><![CDATA[Arabian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_3818.jpg"
	thumbURL="thumbs/DSC_3818.jpg"
	linkURL="images/DSC_3818.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_3818.jpg">
    <title><![CDATA[Arabian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_1564.jpg"
	thumbURL="thumbs/DSC_1564.jpg"
	linkURL="images/DSC_1564.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_1564.jpg">
    <title><![CDATA[Arabian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_1602.jpg"
	thumbURL="thumbs/DSC_1602.jpg"
	linkURL="images/DSC_1602.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_1602.jpg">
    <title><![CDATA[Russian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_5968.jpg"
	thumbURL="thumbs/DSC_5968.jpg"
	linkURL="images/DSC_5968.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_5968.jpg">
    <title><![CDATA[Russian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6435.jpg"
	thumbURL="thumbs/DSC_6435.jpg"
	linkURL="images/DSC_6435.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_6435.jpg">
    <title><![CDATA[Waltz of the Flowers]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6526.jpg"
	thumbURL="thumbs/DSC_6526.jpg"
	linkURL="images/DSC_6526.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_6526.jpg">
    <title><![CDATA[Dewdrop]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_1870.jpg"
	thumbURL="thumbs/DSC_1870.jpg"
	linkURL="images/DSC_1870.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_1870.jpg">
    <title><![CDATA[Dewdrop]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_3954.jpg"
	thumbURL="thumbs/DSC_3954.jpg"
	linkURL="images/DSC_3954.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_3954.jpg">
    <title><![CDATA[Flowers]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_3979.jpg"
	thumbURL="thumbs/DSC_3979.jpg"
	linkURL="images/DSC_3979.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_3979.jpg">
    <title><![CDATA[Dewdrop]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6105.jpg"
	thumbURL="thumbs/DSC_6105.jpg"
	linkURL="images/DSC_6105.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_6105.jpg">
    <title><![CDATA[Nutcracker Prince]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_4979.jpg"
	thumbURL="thumbs/DSC_4979.jpg"
	linkURL="images/DSC_4979.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_4979.jpg">
    <title><![CDATA[Princess Caramel]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6164.jpg"
	thumbURL="thumbs/DSC_6164.jpg"
	linkURL="images/DSC_6164.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_6164.jpg">
    <title><![CDATA[Princess Caramel]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_7761.jpg"
	thumbURL="thumbs/DSC_7761.jpg"
	linkURL="images/DSC_7761.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_7761.jpg">
    <title><![CDATA[Sugar Pas de Deux]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_7100.jpg"
	thumbURL="thumbs/DSC_7100.jpg"
	linkURL="images/DSC_7100.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_7100.jpg">
    <title><![CDATA[Sugar Pas de Deux]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_4324.jpg"
	thumbURL="thumbs/DSC_4324.jpg"
	linkURL="images/DSC_4324.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_4324.jpg">
    <title><![CDATA[Finale]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8422.jpg"
	thumbURL="thumbs/DSC_8422.jpg"
	linkURL="images/DSC_8422.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_8422.jpg">
    <title><![CDATA[Finale]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_4403.jpg"
	thumbURL="thumbs/DSC_4403.jpg"
	linkURL="images/DSC_4403.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/nut18/DSC_4403.jpg">
    <title><![CDATA[CBC company and guest dancers]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>