<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/cdf-ballabile2.jpg"
	thumbURL="thumbs/cdf-ballabile2.jpg"
	linkURL="images/cdf-ballabile2.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-ballabile2.jpg"

>
    <title><![CDATA[Ballabile from Napoli]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_4563.jpg"
	thumbURL="thumbs/DSC_4563.jpg"
	linkURL="images/DSC_4563.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/DSC_4563.jpg">
    <title><![CDATA[Ballabile from Napoli]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_4581.jpg"
	thumbURL="thumbs/DSC_4581.jpg"
	linkURL="images/DSC_4581.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/DSC_4581.jpg">
    <title><![CDATA[Ballabile from Napoli]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cdf-ballabile3.jpg"
	thumbURL="thumbs/cdf-ballabile3.jpg"
	linkURL="images/cdf-ballabile3.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-ballabile3.jpg">
    <title><![CDATA[Ballabile from Napoli]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_4592.jpg"
	thumbURL="thumbs/DSC_4592.jpg"
	linkURL="images/DSC_4592.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/DSC_4592.jpg">
    <title><![CDATA[Ballabile from Napoli]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_4599.jpg"
	thumbURL="thumbs/DSC_4599.jpg"
	linkURL="images/DSC_4599.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/DSC_4599.jpg">
    <title><![CDATA[Ballabile from Napoli]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_4721.jpg"
	thumbURL="thumbs/DSC_4721.jpg"
	linkURL="images/DSC_4721.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/DSC_4721.jpg">
    <title><![CDATA[Ballabile from Napoli]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cdf-soulsister1.jpg"
	thumbURL="thumbs/cdf-soulsister1.jpg"
	linkURL="images/cdf-soulsister1.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-soulsister1.jpg">
    <title><![CDATA[Soul Sisters]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_4889.jpg"
	thumbURL="thumbs/DSC_4889.jpg"
	linkURL="images/DSC_4889.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/DSC_4889.jpg">
    <title><![CDATA[Soul Sisters]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cdf-souldsister2.jpg"
	thumbURL="thumbs/cdf-souldsister2.jpg"
	linkURL="images/cdf-souldsister2.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-souldsister2.jpg">
    <title><![CDATA[Soul Sisters]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_5164.jpg"
	thumbURL="thumbs/DSC_5164.jpg"
	linkURL="images/DSC_5164.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/DSC_5164.jpg">
    <title><![CDATA[Soul Sisters]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_5221.jpg"
	thumbURL="thumbs/DSC_5221.jpg"
	linkURL="images/DSC_5221.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/DSC_5221.jpg">
    <title><![CDATA[Soul Sisters]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cdf-soulsister3.jpg"
	thumbURL="thumbs/cdf-soulsister3.jpg"
	linkURL="images/cdf-soulsister3.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-soulsister3.jpg">
    <title><![CDATA[Soul Sisters]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/31957934_10103883999740183_9079263102251302912_o.jpg"
	thumbURL="thumbs/31957934_10103883999740183_9079263102251302912_o.jpg"
	linkURL="images/31957934_10103883999740183_9079263102251302912_o.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/31957934_10103883999740183_9079263102251302912_o.jpg">
    <title><![CDATA[Campfire Wishes]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_5686.jpg"
	thumbURL="thumbs/DSC_5686.jpg"
	linkURL="images/DSC_5686.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/DSC_5686.jpg">
    <title><![CDATA[Waves]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cdf-emma2.jpg"
	thumbURL="thumbs/cdf-emma2.jpg"
	linkURL="images/cdf-emma2.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-emma2.jpg">
    <title><![CDATA[Waves]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cdf-emma3.jpg"
	thumbURL="thumbs/cdf-emma3.jpg"
	linkURL="images/cdf-emma3.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-emma3.jpg">
    <title><![CDATA[Waves]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_5740.jpg"
	thumbURL="thumbs/DSC_5740.jpg"
	linkURL="images/DSC_5740.jpg"
	linkTarget="_blank"
	sourcePath="/Users/clairehuang/Downloads/DSC_5740.jpg">
    <title><![CDATA[Waves]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cdf-guest1.jpg"
	thumbURL="thumbs/cdf-guest1.jpg"
	linkURL="images/cdf-guest1.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-guest1.jpg">
    <title><![CDATA[Not Till Us]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cdf-guest2.jpg"
	thumbURL="thumbs/cdf-guest2.jpg"
	linkURL="images/cdf-guest2.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-guest2.jpg">
    <title><![CDATA[Not Till Us]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cdf-guest3.jpg"
	thumbURL="thumbs/cdf-guest3.jpg"
	linkURL="images/cdf-guest3.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-guest3.jpg">
    <title><![CDATA[Not Till Us]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cdf-deadweek1.jpg"
	thumbURL="thumbs/cdf-deadweek1.jpg"
	linkURL="images/cdf-deadweek1.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-deadweek1.jpg">
    <title><![CDATA[Dead Week at Stanford]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cdf-deadweek2.jpg"
	thumbURL="thumbs/cdf-deadweek2.jpg"
	linkURL="images/cdf-deadweek2.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-deadweek2.jpg">
    <title><![CDATA[Dead Week at Stanford]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cdf-deadweek3.jpg"
	thumbURL="thumbs/cdf-deadweek3.jpg"
	linkURL="images/cdf-deadweek3.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-deadweek3.jpg">
    <title><![CDATA[Dead Week at Stanford]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cdf-deadweek4.jpg"
	thumbURL="thumbs/cdf-deadweek4.jpg"
	linkURL="images/cdf-deadweek4.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-deadweek4.jpg">
    <title><![CDATA[Dead Week at Stanford]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cdf-group1.jpg"
	thumbURL="thumbs/cdf-group1.jpg"
	linkURL="images/cdf-group1.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-group1.jpg">
    <title><![CDATA[We're Gonna Have Fun, Fun, Fun]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cdf-group2.jpg"
	thumbURL="thumbs/cdf-group2.jpg"
	linkURL="images/cdf-group2.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-group2.jpg">
    <title><![CDATA[We're Gonna Have Fun, Fun, Fun]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cdf-group3.jpg"
	thumbURL="thumbs/cdf-group3.jpg"
	linkURL="images/cdf-group3.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-group3.jpg">
    <title><![CDATA[We're Gonna Have Fun, Fun, Fun]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cdf-group4.jpg"
	thumbURL="thumbs/cdf-group4.jpg"
	linkURL="images/cdf-group4.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-group4.jpg">
    <title><![CDATA[We're Gonna Have Fun, Fun, Fun]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cdf-group5.jpg"
	thumbURL="thumbs/cdf-group5.jpg"
	linkURL="images/cdf-group5.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-group5.jpg">
    <title><![CDATA[We're Gonna Have Fun, Fun, Fun]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cdf-group6.jpg"
	thumbURL="thumbs/cdf-group6.jpg"
	linkURL="images/cdf-group6.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-group6.jpg">
    <title><![CDATA[We're Gonna Have Fun, Fun, Fun]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/cdf-group7.jpg"
	thumbURL="thumbs/cdf-group7.jpg"
	linkURL="images/cdf-group7.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/cdf-group7.jpg">
    <title><![CDATA[We're Gonna Have Fun, Fun, Fun]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/31961146_10103884012070473_2536412706387263488_o.jpg"
	thumbURL="thumbs/31961146_10103884012070473_2536412706387263488_o.jpg"
	linkURL="images/31961146_10103884012070473_2536412706387263488_o.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/31961146_10103884012070473_2536412706387263488_o.jpg">
    <title><![CDATA[The company]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/32153723_10103884012509593_4690283460382687232_o.jpg"
	thumbURL="thumbs/32153723_10103884012509593_4690283460382687232_o.jpg"
	linkURL="images/32153723_10103884012509593_4690283460382687232_o.jpg"
	linkTarget="_blank"
	sourcePath="/afs/ir.stanford.edu/group/cardinalballet/WWW/cdf18gallery/images/32153723_10103884012509593_4690283460382687232_o.jpg">
    <title><![CDATA[Our graduating members]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>