<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Photoshoot 2013"

>
  <image imageURL="images/IMG_0017.jpg"
	thumbURL="thumbs/IMG_0017.jpg"
	linkURL="images/IMG_0017.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_0017.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0034.jpg"
	thumbURL="thumbs/IMG_0034.jpg"
	linkURL="images/IMG_0034.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_0034.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0059.jpg"
	thumbURL="thumbs/IMG_0059.jpg"
	linkURL="images/IMG_0059.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_0059.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0069.jpg"
	thumbURL="thumbs/IMG_0069.jpg"
	linkURL="images/IMG_0069.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_0069.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0077.jpg"
	thumbURL="thumbs/IMG_0077.jpg"
	linkURL="images/IMG_0077.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_0077.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0100.jpg"
	thumbURL="thumbs/IMG_0100.jpg"
	linkURL="images/IMG_0100.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_0100.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0187.jpg"
	thumbURL="thumbs/IMG_0187.jpg"
	linkURL="images/IMG_0187.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_0187.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0208.jpg"
	thumbURL="thumbs/IMG_0208.jpg"
	linkURL="images/IMG_0208.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_0208.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0230.jpg"
	thumbURL="thumbs/IMG_0230.jpg"
	linkURL="images/IMG_0230.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_0230.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0235.jpg"
	thumbURL="thumbs/IMG_0235.jpg"
	linkURL="images/IMG_0235.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_0235.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0245.jpg"
	thumbURL="thumbs/IMG_0245.jpg"
	linkURL="images/IMG_0245.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_0245.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0258.jpg"
	thumbURL="thumbs/IMG_0258.jpg"
	linkURL="images/IMG_0258.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_0258.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0267.jpg"
	thumbURL="thumbs/IMG_0267.jpg"
	linkURL="images/IMG_0267.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_0267.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0292.jpg"
	thumbURL="thumbs/IMG_0292.jpg"
	linkURL="images/IMG_0292.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_0292.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0317.jpg"
	thumbURL="thumbs/IMG_0317.jpg"
	linkURL="images/IMG_0317.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_0317.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0322.jpg"
	thumbURL="thumbs/IMG_0322.jpg"
	linkURL="images/IMG_0322.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_0322.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_9870.jpg"
	thumbURL="thumbs/IMG_9870.jpg"
	linkURL="images/IMG_9870.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_9870.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_9873.jpg"
	thumbURL="thumbs/IMG_9873.jpg"
	linkURL="images/IMG_9873.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_9873.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_9897 copy.jpg"
	thumbURL="thumbs/IMG_9897 copy.jpg"
	linkURL="images/IMG_9897 copy.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_9897 copy.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_9926.jpg"
	thumbURL="thumbs/IMG_9926.jpg"
	linkURL="images/IMG_9926.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_9926.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_9959.jpg"
	thumbURL="thumbs/IMG_9959.jpg"
	linkURL="images/IMG_9959.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_9959.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_9965.jpg"
	thumbURL="thumbs/IMG_9965.jpg"
	linkURL="images/IMG_9965.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_9965.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_9974.jpg"
	thumbURL="thumbs/IMG_9974.jpg"
	linkURL="images/IMG_9974.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_9974.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_9975.jpg"
	thumbURL="thumbs/IMG_9975.jpg"
	linkURL="images/IMG_9975.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_9975.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_9986.jpg"
	thumbURL="thumbs/IMG_9986.jpg"
	linkURL="images/IMG_9986.jpg"
	linkTarget="_blank"
	sourcePath="/Users/janetan/Desktop/CBC Photos/IMG_9986.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>